/* LandingSection.css */
.landing-section {
  position: relative;
  text-align: center;
  width: 100%; /* Make sure the container takes up the full width */
}

.landing-section img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
